{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block homepage %}
    <div class="container">
        <div class="container-fluid">
            <div class="col-xl">
                <div class="col-sm-6 col-md-6 col-lg-8">
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class='form-group'>
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-info" type="submit">Create Post </button>
                        </div> 
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock homepage %}







    
    

























